@model Starpholio.Models.LoginViewModel
@{
}

<div class="frame-login">
    <h2>Login</h2>
    <form>
        <input type="text" placeholder="Username" size="30">
        <input type="password" placeholder="Password" size="30">
        <div>
            <input type="checkbox" id="RememberMe" name="RememberMe">
            <label for="RememberMe">Remember Me</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
<style>
    .btn-primary {
        background: linear-gradient(-45deg, cyan, magenta, yellow);
        transition: background 0.3s ease;
        outline: none;
        border: 1px solid black;
        height: 60px;
    }

        .btn-primary:hover {
            background: linear-gradient(-45deg, yellow, magenta, cyan);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
</style>