@page
@model Starpholio.Views.Shared._registerModel
@{
}
<div class="frame-register">
    <h2>Register</h2>
    <form>
        <input type="email" placeholder="Email" size="30">
        <input type="text" placeholder="Username" size="30">
        <input type="password" placeholder="Password" size="30">
        <input type="date" placeholder="Date of Birth" size="30">
        <input type="text" placeholder="Location" size="30">
        <input type="submit" value="Register">
    </form>
</div>