<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.js"></script>

    <style>
        /* Your existing styles here */

        body {
            background: linear-gradient(-45deg, cyan, magenta, yellow);
            color: black;
            font-family: "Helvetica", sans-serif;
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            display: flex;
            justify-content: space-between;
            margin: 0 -10px; /* Adiciona uma margem negativa para reduzir a margem entre a borda do navegador e os frames */
            padding: 0;
        }

        .frame {
            flex: 1;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            padding: 40px;
            box-sizing: border-box;
            overflow-y: auto;
            margin: 10px;
        }

        .frame-profile  {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 800px;
            width: 600px
        }

        .profile-picture {
            width: 120px;
            height: 120px;
            border: 10px solid black;
            border-radius: 50%;
            background-color: black;
            overflow: hidden;
            margin-bottom: 20px;

        }

            .profile-picture img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .frame-polaroid  {
            flex: 1;
            height: 800px;
            width: 600px;
            background-color: rgba(255, 255, 255, 0.8);
            border: 10px solid silver;
            border-radius: 10px;
            padding: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
        }

        .frame-usersprofiles  {
            flex: 1;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto;
            height: 800px;
            width: 600px
        }

        .post {
            width: 700px;
            margin-bottom: 20px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .post-profile-picture {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 10px;
        }

            .post-profile-picture img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .post-username {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .post-content {
            text-align: center;
        }

        .post-icons {
            margin-top: 10px;
        }

        .like {
            cursor: pointer;
        }

            .like.clicked {
                color: red;
            }

        .comment {
            cursor: pointer;
        }

            

        .logo {
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
            opacity: 0.8;
        }

        .follow-btn {
            padding: 10px 20px;
            background-color: black;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .followers,
        .following {
            font-size: 14px;
            text-align: center;
            margin-top: 5px;
        }

        .update-btn, .edit-btn {
            padding: 10px 20px;
            background-color: black;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .search-bar {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .search-input {
            width: 300px;
            height: 40px;
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.6);
            outline: none;
        }

            .search-input::placeholder {
                color: gray;
            }



        .edit-form {
            display: none;
            margin-top: 10px;
        }

            .edit-form input {
                margin-bottom: 5px;
            }

        .profile-name {
            font-weight: bold;
            text-align: center;
        }

        
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
     
           $(document).ready(function () {
            // Botão "like"
            $('.like').on('click', function () {
                $(this).toggleClass('clicked');
            });
            // Botão "Editar"
            $('.edit-btn').on('click', function () {
                $('.edit-form').toggle();
                $('.profile-details').toggle();
            });
            //Nova foto de perfil
            $('#profile-picture-input').on('change', function () {
               
                var file = this.files[0];
                
            });
            // Botão "Atualizar Perfil"
            $('.update-btn').on('click', function () {
                var nameInput = $('.name-input').val();
                var ageInput = $('.age-input').val();
                var locationInput = $('.location-input').val();
                var cameraInput = $('.camera-input').val();
                var photographyInput = $('.photography-input').val();

                $('.profile-name').text(nameInput);
                $('.profile-age').text('Age: ' + ageInput);
                $('.profile-location').text('Location: ' + locationInput);
                $('.profile-camera').text('Camera: ' + cameraInput);
                $('.profile-photography').text('Photography: ' + photographyInput);

               

                $('.edit-form').toggle();
                $('.profile-details').show();
               
            });
            $('.comment').on('click', function () {
                var $commentInput = $('<input type="text" class="comment-input-text" placeholder="Adicionar um comentário">');
                var $commentButton = $('<button class="comment-input-btn">Enviar</button>');
                var $commentContainer = $('<div class="comment-input-container"></div>').append($commentInput).append($commentButton);

                // Limpar qualquer outro campo de entrada de comentário antes de adicionar o novo
                $('.comment-input-container').remove();

                // Adicionar o campo de entrada de comentário
                $(this).parent().append($commentContainer);
            });

            // Evento de clique no botão "Enviar" do campo de entrada de comentário
            $(document).on('click', '.comment-input-btn', function () {
                var $commentInput = $(this).prev();
                var commentText = $commentInput.val(); // Obtém o texto do comentário

                if (commentText.trim() !== '') {
                    var commentItem = '<li>' + commentText + '</li>'; // Cria um novo item de comentário
                    $(this).parents('.post').find('.comment-list').append(commentItem); // Adiciona o novo comentário à lista de comentários
                    $commentInput.val(''); // Limpa o campo de entrada de comentário
                }

                // Remover o campo de entrada de comentário após adicionar o comentário
                $(this).parent().remove();
            });
        });
    </script>
</head>
<body>

    <div class="container">
        <div class="frame frame-profile">
            <div class="profile-partial">
                @Html.Partial("_profile")
            </div>
        </div>
        <div class="frame frame-polaroid">
                <div class="posts-partial">
                    @Html.Partial("_posts")
                </div>
            
        </div>
        <div class="frame frame-usersprofiles">
                <div class="usersprofiles-partial">
                    @Html.Partial("_usersprofiles")
                </div>
        </div>
    </div>
</body>
</html>
